 .themed_input {
   font-family: inherit;
   font-size: 14px;
   font-weight: 500;
   color:  white;
   border: 0px;
   border-radius: 5px;
   height: 26px;
   text-align: center;
 }

 .themed_input:focus{
  outline: 0px;
}